@import "../../../sass/variables";
@import "../../../sass/animations";

.button {
  padding: $space-2 $space-4;
  border-radius: $space-1;
  font-size: $md;
}

.loading {
  background-color: $white-dark !important;
  cursor: not-allowed;
}

%button-styles {
  font-weight: $semibold;
  transition: 0.3s;
}

.primary {
  @extend %button-styles;
  background-color: $primary-main;
  color: $white-light;

  &:hover {
    background-color: $primary-dark;
  }
}

.secondary {
  @extend %button-styles;
  background-color: $black-main;
  color: $black-main;

  &:hover {
    background-color: $black-dark;
  }
}

.icon-loading {
  color: $black-light;
  animation: spin 1s infinite;
  width: 18px;
  height: 18px;
  padding: 0 $space-2;
  min-width: 100px;
}
