@import "../../../sass/variables";

.center-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;

  @media (max-width: $md) {
    height: calc(100vh - 60px);
    padding: $space-x-4;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  gap: $space-4;
}

.loader-text-box {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: $text-md;
    color: $black-dark;
    font-weight: $semibold;
  }

  p {
    font-size: $text-sm;
    color: $black-main;
  }
}
